In [62]:
import pandas as pd

In [63]:
df = pd.read_csv("..\data\students_100.csv")

In [64]:
# Normalization
def normalization(df, min, max):
    return ((df - min) / (max - min)) * 100

def inverse_normalization(df, min, max):
    return ((1 - ((df - min) / (max - min)))) * 100

## Normalization

In [66]:
df['gpa_n'] = normalization(df['gpa'], 0, 10)
df['gpa_n']

0     84.6
1     79.4
2     90.0
3     79.9
4     75.1
      ...
95    46.3
96    96.0
97    89.3
98    81.9
99    66.7
Name: gpa_n, Length: 100, dtype: float64

In [67]:
df['attendance_n'] = normalization(df['attendance'],0 , 100)
df['attendance_n']

0     50.0
1     96.0
2     83.0
3     81.0
4     97.0
      ...
95    90.0
96    56.0
97    53.0
98    99.0
99    94.0
Name: attendance_n, Length: 100, dtype: float64

In [68]:
df['assignments_completion_n'] = normalization(df['assignments_completion'], 0, 100)
df['assignments_completion_n']

0     50.0
1     68.0
2     95.0
3     75.0
4     64.0
      ...
95    77.0
96    46.0
97    85.0
98    52.0
99    79.0
Name: assignments_completion_n, Length: 100, dtype: float64

In [69]:
df['stress_level_n'] = inverse_normalization(df['stress_level'],1,10)
df['stress_level_n']

0      22.222222
1      22.222222
2      22.222222
3      22.222222
4      22.222222
         ...
95     33.333333
96     22.222222
97    100.000000
98     44.444444
99    100.000000
Name: stress_level_n, Length: 100, dtype: float64

In [70]:
df['sleep_hours_n'] = normalization(df['sleep_hours'],0,10)
df['sleep_hours_n']

0     64.0
1     89.0
2     59.0
3     77.0
4     60.0
      ...
95    74.0
96    66.0
97    48.0
98    59.0
99    40.0
Name: sleep_hours_n, Length: 100, dtype: float64

In [71]:
df['mental_wellbeing_n'] = normalization(df['mental_wellbeing'],1,10)
df['mental_wellbeing_n']

0      33.333333
1       0.000000
2      77.777778
3       0.000000
4      22.222222
         ...
95    100.000000
96     55.555556
97     33.333333
98     22.222222
99     33.333333
Name: mental_wellbeing_n, Length: 100, dtype: float64

In [72]:
df['productivity_score_n'] = normalization(df['productivity_score'],1, 10)
df['productivity_score_n']

0      22.222222
1      22.222222
2      22.222222
3      22.222222
4      22.222222
         ...
95     55.555556
96     11.111111
97    100.000000
98     44.444444
99    100.000000
Name: productivity_score_n, Length: 100, dtype: float64

In [73]:
df['distractions_n'] = inverse_normalization(df['distractions'], 1, 10)
df['distractions_n']

0     100.000000
1      44.444444
2      44.444444
3      66.666667
4      22.222222
         ...
95    100.000000
96     33.333333
97    100.000000
98     66.666667
99     11.111111
Name: distractions_n, Length: 100, dtype: float64

In [74]:
df['career_clarity_n'] = normalization(df['career_clarity'], 1, 10)
df['career_clarity_n']

0       0.000000
1      33.333333
2      55.555556
3      55.555556
4      77.777778
         ...
95     55.555556
96     77.777778
97      0.000000
98    100.000000
99     77.777778
Name: career_clarity_n, Length: 100, dtype: float64

In [75]:
df['skill_readiness_n'] = normalization(df['skill_readiness'], 1 , 10)
df['skill_readiness_n']

0     66.666667
1      0.000000
2     11.111111
3     22.222222
4      0.000000
        ...
95    22.222222
96    22.222222
97    11.111111
98    44.444444
99    22.222222
Name: skill_readiness_n, Length: 100, dtype: float64

In [76]:
df['engagement_score_n'] = normalization(df['engagement_score'], 0, 100)
df['engagement_score_n']

0     41.0
1     48.0
2     73.0
3     88.0
4     78.0
      ...
95    88.0
96    66.0
97    90.0
98    72.0
99    99.0
Name: engagement_score_n, Length: 100, dtype: float64

## Score Calculation

In [77]:
df['APS'] = (
    0.45 * df['gpa_n'] +
    0.25 * df['attendance_n'] +
    0.20 * df['assignments_completion_n'] +
    0.10 * df['engagement_score_n']
)
df['APS']

0     64.670
1     78.130
2     87.550
3     80.005
4     78.645
       ...
95    67.535
96    73.000
97    79.435
98    79.205
99    79.215
Name: APS, Length: 100, dtype: float64

In [78]:
df['WWS'] = (
    0.4 * df['stress_level_n'] +
    0.3 * df['sleep_hours_n'] +
    0.3 * df['mental_wellbeing_n']
)
df['WWS']

0     38.088889
1     35.588889
2     49.922222
3     31.988889
4     33.555556
        ...
95    65.533333
96    45.355556
97    64.400000
98    42.144444
99    62.000000
Name: WWS, Length: 100, dtype: float64

In [79]:
df['PTMS'] = (
    0.6 * df['productivity_score_n'] +
    0.4 * df['distractions_n']
)
df['PTMS']

0      53.333333
1      31.111111
2      31.111111
3      40.000000
4      22.222222
         ...
95     73.333333
96     20.000000
97    100.000000
98     53.333333
99     64.444444
Name: PTMS, Length: 100, dtype: float64

In [80]:
df['CRS'] = (
    0.5 * df['career_clarity_n'] +
    0.5 * df['skill_readiness_n']
)
df['CRS']

0     33.333333
1     16.666667
2     33.333333
3     38.888889
4     38.888889
        ...
95    38.888889
96    50.000000
97     5.555556
98    72.222222
99    50.000000
Name: CRS, Length: 100, dtype: float64

In [81]:
df['SRI'] = (
    0.30 * df['APS'] +
    0.25 * df['WWS'] +
    0.20 * df['PTMS'] +
    0.25 * df['CRS']
)
df['SRI']

0     47.923222
1     42.725111
2     53.301111
3     49.720944
4     46.149056
        ...
95    61.032722
96    49.738889
97    61.319389
98    63.019833
99    64.653389
Name: SRI, Length: 100, dtype: float64

In [82]:
def classify_sri(sri):
    if sri >= 80:
        return "Green"
    elif sri >= 65:
        return "Blue"
    elif sri >= 50:
        return "Yellow"
    else:
        return "Red"

In [83]:
df['Risk_Category'] = df['SRI'].apply(classify_sri)

In [84]:
# Save output
df.to_csv("../data/students_norm.csv", index = False)

In [85]:
df[['student_id', 'APS', 'WWS', 'PTMS', 'CRS', 'SRI', 'Risk_Category']].head()

  student_id     APS        WWS       PTMS        CRS        SRI Risk_Category
0       S001  64.670  38.088889  53.333333  33.333333  47.923222           Red
1       S002  78.130  35.588889  31.111111  16.666667  42.725111           Red
2       S003  87.550  49.922222  31.111111  33.333333  53.301111        Yellow
3       S004  80.005  31.988889  40.000000  38.888889  49.720944           Red
4       S005  78.645  33.555556  22.222222  38.888889  46.149056           Red

## Validation

In [101]:
df.columns = df.columns.str.strip()

In [102]:
sample_students = df.sample(3)

In [103]:
raw_cols = [
    'gpa', 'attendance', 'assignments_completion',
    'stress_level', 'distractions',
    'sleep_hours', 'mental_wellbeing',
    'productivity_score', 'engagement_score',
    'career_clarity', 'skill_readiness'
]

In [104]:
norm_cols = [
    'gpa_n', 'attendance_n', 'assignments_completion_n',
    'stress_level_n', 'sleep_hours_n', 'mental_wellbeing_n',
    'productivity_score_n', 'distractions_n',
    'career_clarity_n', 'skill_readiness_n', 'engagement_score_n'
]

In [105]:
final_cols = ['APS', 'WWS', 'PTMS', 'CRS', 'SRI', 'Risk_Category']

In [106]:
print(df.columns.tolist())

['student_id', 'age', 'program', 'semester', 'gpa', 'attendance', 'assignments_completion', 'stress_level', 'sleep_hours', 'mental_wellbeing', 'productivity_score', 'distractions', 'career_clarity', 'skill_readiness', 'engagement_score', 'gpa_n', 'attendance_n', 'assignments_completion_n', 'stress_level_n', 'sleep_hours_n', 'mental_wellbeing_n', 'productivity_score_n', 'distractions_n', 'career_clarity_n', 'skill_readiness_n', 'engagement_score_n', 'APS', 'WWS', 'PTMS', 'CRS', 'SRI', 'Risk_Category']

In [107]:
for _, row in sample_students.iterrows():
    print(f"Student ID: {row['student_id']}\n")

    # Raw Scores
    print("Raw Scores:")
    for col in raw_cols:
        print(f"  {col.replace('_', ' ').title()}: {row[col]:.2f}")
    print()

    # Normalized Scores (_n)
    print("Normalized Scores (_n):")
    for col in norm_cols:
        print(f"  {col.replace('_', ' ').title()}: {row[col]:.2f}")
    print()

    # Final Scores & Category
    print("Final Scores & Risk Category:")
    for col in final_cols:
        value = row[col]
        if isinstance(value, float):
            print(f"  {col}: {value:.2f}")
        else:
            print(f"  {col}: {value}")
    
    print("-" * 50)

Student ID: S064

Raw Scores:
  Gpa: 8.80
  Attendance: 61.00
  Assignments Completion: 64.00
  Stress Level: 10.00
  Distractions: 9.00
  Sleep Hours: 4.20
  Mental Wellbeing: 5.00
  Productivity Score: 7.00
  Engagement Score: 47.00
  Career Clarity: 3.00
  Skill Readiness: 3.00

Normalized Scores (_n):
  Gpa N: 88.00
  Attendance N: 61.00
  Assignments Completion N: 64.00
  Stress Level N: 0.00
  Sleep Hours N: 42.00
  Mental Wellbeing N: 44.44
  Productivity Score N: 66.67
  Distractions N: 11.11
  Career Clarity N: 22.22
  Skill Readiness N: 22.22
  Engagement Score N: 47.00

Final Scores & Risk Category:
  APS: 72.35
  WWS: 25.93
  PTMS: 44.44
  CRS: 22.22
  SRI: 42.63
  Risk_Category: Red
--------------------------------------------------
Student ID: S002

Raw Scores:
  Gpa: 7.94
  Attendance: 96.00
  Assignments Completion: 68.00
  Stress Level: 8.00
  Distractions: 6.00
  Sleep Hours: 8.90
  Mental Wellbeing: 1.00
  Productivity Score: 3.00
  Engagement Score: 48.00
  Career Clarity: 4.00
  Skill Readiness: 1.00

Normalized Scores (_n):
  Gpa N: 79.40
  Attendance N: 96.00
  Assignments Completion N: 68.00
  Stress Level N: 22.22
  Sleep Hours N: 89.00
  Mental Wellbeing N: 0.00
  Productivity Score N: 22.22
  Distractions N: 44.44
  Career Clarity N: 33.33
  Skill Readiness N: 0.00
  Engagement Score N: 48.00

Final Scores & Risk Category:
  APS: 78.13
  WWS: 35.59
  PTMS: 31.11
  CRS: 16.67
  SRI: 42.73
  Risk_Category: Red
--------------------------------------------------
Student ID: S095

Raw Scores:
  Gpa: 4.92
  Attendance: 83.00
  Assignments Completion: 56.00
  Stress Level: 5.00
  Distractions: 5.00
  Sleep Hours: 6.40
  Mental Wellbeing: 6.00
  Productivity Score: 4.00
  Engagement Score: 41.00
  Career Clarity: 10.00
  Skill Readiness: 7.00

Normalized Scores (_n):
  Gpa N: 49.20
  Attendance N: 83.00
  Assignments Completion N: 56.00
  Stress Level N: 55.56
  Sleep Hours N: 64.00
  Mental Wellbeing N: 55.56
  Productivity Score N: 33.33
  Distractions N: 55.56
  Career Clarity N: 100.00
  Skill Readiness N: 66.67
  Engagement Score N: 41.00

Final Scores & Risk Category:
  APS: 58.19
  WWS: 58.09
  PTMS: 42.22
  CRS: 83.33
  SRI: 61.26
  Risk_Category: Yellow
--------------------------------------------------